/*style.css*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #cbd5e1;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  width: 0.5fr;
  border-left: 8px #1e293b solid;
  display: flex;
  flex-direction: column;
}

.card-title {
  margin: 0;
  margin-top: 10px;
}

.card-text {
  flex: 1;
}

.card-actions {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  margin: 10px;
}
